# dependencies
node_modules/
**/node_modules/

# nextjs
.next/
out/

# env files
.env
.env.local

# firebase secrets
Backend/firebase/serviceAccount.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*